html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  /* above not to worry about 




                             */
.page{
  max-width: 816px;
  margin: auto; 
  border: 1px solid black;
}
.header{
  display: grid; 
  grid-template-columns: 75% 25%;
  height: 100px; 
  background-image: linear-gradient(to right, white, gray); 
}
.name{
  justify-self: center;
  align-self: center;
  font-size: 40px; 
  
}
.contact-info{
   justify-self: center;
  align-self: center;
  
} 
.lower-container{
  display: grid;
  grid-template-columns: 50% 50%; 
  grid-template-rows: .15fr .15fr .05fr .1fr 3fr .35fr .1fr; 
  row-gap: 10px;
  padding: 20px;
}
.intro{
  grid-column: 1 / span 2;
  grid-row: 1;
  font-size: 20px;
  text-align: center;
}
.title-skills{
  grid-column: 1/ span 2; 
  grid-row: 2/3;
  justify-self: center; 
  font-size: 20px;
}
.skills-h{
  grid-column: 1/2; 
  grid-row: 2/3; 
  justify-self: center;
  align-self: end;
  margin-left: 10px;
}
.skills-s{
  grid-column: 2/3; 
  grid-row: 2/3;
  justify-self: center;
  align-self: end;
}
.skills-state{
  grid-column: 1/ span 2;
  grid-row: 3/4; 
  justify-self: center;
}
.work-xp{
  grid-column: 1 / span 2; 
  grid-row: 4/5; 
  justify-self: center;
  align-self: start;
  font-size: 20px;
}  
.history{
  grid-column: 1 / span 2; 
  grid-row: 5/6;
}
.school{
  grid-column: 1 / span 2; 
  grid-row: 6/7;
  justify-self: center;
  align-self: end;
  padding-bottom: 10px;
  font-size: 20px;
}
.school-info{
  grid-column: 1 / span 2; 
  grid-row: 7/8;
  justify-self: center; 
  text-align: center;
}